<p>
  displaylist works!
</p>

<div>
  <table mat-table [dataSource]="servers | async" matSort (matSortChange)="sortServerData($event)" class="mat-elevation-z8">
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>
  
    <ng-container matColumnDef="hostname">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header>Hostname</th>
      <td mat-cell *matCellDef="let element">{{element.hostname}}</td>
    </ng-container>
  
    <ng-container matColumnDef="port">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Port</th>
      <td mat-cell *matCellDef="let element">{{element.port}}</td>
    </ng-container>
  
    <ng-container matColumnDef="path">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
      <td mat-cell *matCellDef="let element">{{element.path}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedServerColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedServerColumns;"></tr>
  
  </table>
</div>


<div>
  <mat-form-field>
    <mat-select #envTypeSelect placeholder="Environment Type" (selectionChange)="mlbselected($event);">
      <mat-option *ngFor="let LB of masterLBs | async" [value]="LB.environmentType" >
        {{ LB.environmentType }} - {{LB.address}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedMLB">Selected MLB = {{selectedMLB.environmentType}}</div>
  <!-- <mat-form-field *ngIf="selectedMLB">
    {{selectedMLB}}
    <mat-select placeholder="Environment">
      <mat-option *ngFor="let env of environmentList | async" [value]="env.name">
        {{ env.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
</div>
<!-- <div>
  <table mat-table [dataSource]="masterLBs | async" class="mat-elevation-z8">

    <ng-container matColumnDef="environmentType">
      <th mat-header-cell *matHeaderCellDef>Env Type</th>
      <td mat-cell *matCellDef="let element">{{element.environmentType}}</td>
    </ng-container>
  
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef >Address</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>
  
    <ng-container matColumnDef="endPoint">
      <th mat-header-cell *matHeaderCellDef >End Point</th>
      <td mat-cell *matCellDef="let element">{{element.endPoint}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedMLBColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedMLBColumns;"></tr>
  
  </table>
</div> -->